<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Diary</title>
    <meta charset="utf-8">
    <!-- Viewport Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/index.css">  
		
   </head>
  <body>



<header>
  <div id="menu">
    <a href="index.html" class="menuitem">Home</a>
    <a href="profile.html" class="menuitem">Profile</a>
    <a href="registration.html" class="menuitem">Register</a>
    <a href="registration.html" class="menuitem"> Sign In</a>
 </div>
 </header>
 <div class='img'></div>
 
 <div class="entry">
        <div class="entry-img">
        <a href="entry-detail.html" class= "index"><img src="images/images.jpg" width="250px">
        </div>
        <div class="entry-description">
          <ul>
            <li>
              <h2>How living in Paris has increased my hunger for luxury items</h2>
            </li>
            <li>
              <p>The thougth of living in cities like London, Paris, Amsterdam, New York certainly involves...</p>
            </li></a>
            <li>
              <p>February 7, 2018</p>
           </li>
          </ul>
        </div>
        </div>
        <div class="entry">
               <div class="entry-img">
                <a href="#" class= "index"><img src="images/images (1).jpg" width="250px">
                </div>
                <div class="entry-description">
                  <ul>
                    <li>
                    <h2>Turning to Agriculture! I just bought a farm</h2>
                    </li>
                    <li>
                      <p>Nicon-Hilton Hotel is a colonial-style luxury hotel in Abuja. It was established by Armenian hoteliers, the Sarkies Brothers, in 1887. The hotel was named after British statesman Sir Thomas Stamford Raffles, the founder of Singapore. It is the flagship property of Raffles Hotels & Resorts, a subsidiary of Fairmont Raffles Hotels International.</p>
                    </li></a>
                    <li>
                      <p>March 15, 2018</p>
                   </li>
                  </ul>
                </div>
                </div>
       <div class="entry">
                <div class="entry-img">
                <a href="#" class= "index"><img src="images/images (2).jpg" width="250px">
                </div>
                <div class="entry-description">
                  <ul>
                    <li>
                      <h2>Trying to understand how the human mind works</h2>
                    </li>
                    <li>
                      <p>Nicon-Hilton Hotel is a colonial-style luxury hotel in Abuja. It was established by Armenian hoteliers, the Sarkies Brothers, in 1887. The hotel was named after British statesman Sir Thomas Stamford Raffles, the founder of Singapore. It is the flagship property of Raffles Hotels & Resorts, a subsidiary of Fairmont Raffles Hotels International.</p>
                    </li></a>
                    <li>
                      <p>May 25, 2018</p>
                   </li>
                  </ul>
                </div>
                </div>
            <footer>
                <div class = "container">
                  &copy My Diary 2018 
                </div>
             </footer>
 </body>
</html>