<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Diary Retrieve-Password</title>
    <meta charset="utf-8">
    <!-- Viewport Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="css/registration.css">
   </head>
  <body>



<div class ="container">
    <h1><a href="#" class="index">My Diary</a></h1>
 <div class="card card-container">
    <p id="profile-name" class="profile-name-card">Retrieve Password </p>
  <form class="form-signin">
    <span id="reauth-email" class="reauth-email"></span>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Retrieve</button>
    <a href="signin.html" class="forgot-password">
                Sign in
    </a> 
   </form>
  </div><!-- /card-container -->
 </div>
</div>
</div>
      
  </body>
</html>